{% extends "base.html" %}

{% block title %}Новая запись{% endblock %}

{% block content %}
{% load user_filters %}

<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">Новая запись</div>
      <div class="card-body">
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          Вы ввели данные неправильно.
        </div>
        {% endif %}

        <form method="post" action="{% url 'new_post' %}">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}">

            <div class="form-group row">
                <label for="{{ from.text.id_for_label }}" class="col-md-4 col-form-label text-md-right">{{ form.text.label }}</label>
                <div class="col-md-6">
                    {{ form.text|add_class:"form-control" }}
                </div>
            </div>

            <div class="form-group row">
                <label for="{{ form.group.id_for_label }}" class="col-md-4 col-form-label text-md-right">{{ form.group.label }}</label>
                <div class="col-md-6">
                    {{ form.group|add_class:"form-control" }}
                </div>
            </div>

          <div class="col-md-6 offset-md-4">
              <button type="submit" class="btn btn-primary">
                Создать запись
              </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}